@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    &__image
      width: 133px
      height: 18px
  .navbar
    &-top
      padding: 29px 0
    &-menu
      padding: 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-left: 2px
    &__input
      width: 340px
@media (max-width: 767px)
  .container
    max-width: 576px
  body
    padding-top: 70px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      overflow: auto
      flex-direction: column
      padding: 0
      &__item
        margin-bottom: 17px
        &--mobile
          &--visible
            display: block
    &__search
      width: 245px
      margin: 27px 0 20px 0
    &-top
      padding-top: 24px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: -18px

@media (max-width: 576px)
  .container
    max-width: 500px
  .navbar
    &-top
      padding: 24px 0
  .menu
    &-button
      margin-top: 3px
  .logo
    &__image
      width: 99px
      height: 14px

@media (max-width: 320px)
  .container
    max-width: 280px
