@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 250px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__links
      grid-column: 1 / 2
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    &__image
      width: 133px
      height: 18px
  .navbar
    &-top
      padding: 29px 0
    &-menu
      padding: 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-left: 2px
    &__input
      width: 340px
  .breadcrumb
    &-list
      padding: 18px 0
  .hotel
    padding-top: 19px
    padding-bottom: 58px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-location
      flex-direction: row
  .rating
    margin-top: 2px
  .offer
    padding: 3px 9px 4px 11px
  .booking
    width: 340px
    padding: 28px 22px 26px 23px
    &__info
      margin-bottom: 10px
    &__room
      margin-top: 0
  .map
    width: 340px
  .newsletter
    padding: 92px 34px 93px 34px
  .reviews
    padding: 40px 0 44px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px 64px
        &:after, &:before
          display: none
      &__button
        position: absolute
        top: 43%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        margin-right: 0
        margin-left: 0
  .activities
    margin-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 73px
    &__text
      margin-left: 4px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      width: 98px
      height: 109px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: 14px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-bottom: 23px
    &__legal
      justify-self: center
      grid-column: span 2
      margin-left: 10px
    &__additional
      margin-left: -40px
      grid-column: span 2
    &__icon
      margin-left: 7px
      &-wrapper
        min-width: 45px
    &__contact
      &-details
        margin-bottom: -8px
        grid-column: span 5
        grid-row: 3
      &-form
        margin-left: -3px
        max-width: 539px
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 15px
        margin-top: 10px
        grid-column: span 5
        grid-row: 4
    &__title
      margin: 10px 0 16px 0
      &--inline
        margin: 0 43px 0 -54px
      &--mb-3
        margin-bottom: 23px
        margin-top: -2px
        margin-left: 4px
      &--mb-1
        margin-top: -3px
        margin-bottom: 34px
    &__item--mb-2
      margin-bottom: 16px
      margin-left: 10px
    &-wrapp
      max-width: 698px
      padding-top: 54px
      grid-template-columns: 2fr 1fr
      justify-items: start
      &__pay
        justify-self: end
        grid-column: 2
    &__links
      justify-items: start
  .modal
    &__dialog
      padding: 3% 10%
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 70px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      overflow: auto
      flex-direction: column
      padding: 0
      &__item
        margin-bottom: 17px
        &--mobile
          &--visible
            display: block
    &__search
      width: 245px
      margin: 27px 0 20px 0
    &-top
      padding-top: 24px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: -18px
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    padding-bottom: 60px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 179px
    &-grid
      margin-top: 18px
    &-location
      flex-direction: column
      min-height: 403px
  .booking
    width: 100%
  .map
    width: 100%
    height: 173px
  .newsletter
    padding: 76px 20px 83px 20px
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
    &__title
      margin-top: 0
      margin-right: 30px
      margin-bottom: 37px
    &-wrapper
      max-width: 576px
      width: 100%
      flex-direction: column
      align-items: flex-start
      margin: 0
  .reviews
    padding: 40px 0 50px 0
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin: 0 34px 42px 34px
    &-slider
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -123px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -120px
          transform: translate(50%, 0)
  .subscribe
    width: 100%
  .card
    width: 48%
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__title
      font-size: 15px
      line-height: 17px
      margin-top: 0
    &__close
      right: 11px
      top: 10px
    &__image
      max-width: 75%
  .modal
    &__dialog
      width: 60%
@media (max-width: 576px)
  .container
    max-width: 500px
    width: 91%
  .navbar
    &-top
      padding: 24px 0
  .menu
    &-button
      margin-top: 3px
  .logo
    &__image
      width: 99px
      height: 14px
  .breadcrumb
    &-list
      padding: 19px 0
  .stars
    margin-right: 18px
    margin-top: 2px
  .offer
    padding: 3px 10px 5px 9px
    margin-top: 6px
  .hotel
    padding-top: 0
    padding-bottom: 41px
    &-slider
      max-height: 179px
  .booking
    &__price
      margin-top: 2px
    &__per-room
      margin-top: -2px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    padding: 40px 0 50px 0
    &-slider
      &__profile
        margin-right: 7px
      &__item
        padding: 0 26px 36px 33px
      &__text
        text-align: left
      &__button
        top: 31px
        &--prev
          left: 61%
          margin-left: -123px
          transform: translate(-50%, 0)
        &--next
          right: 61%
          margin-right: -120px
          transform: translate(50%, 0)
  .activities
    padding: 40px 0 0px 0
    margin-bottom: 36px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
    margin-bottom: 23px
    &-change-3
      order: 1
    &-change-2
      order: 2
  .footer
    padding-top: 66px
    padding-bottom: 30px
    &-wrapper
      min-width: 281px
      grid-template-columns: minmax(280px, 1fr)
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 10px
    &__social
      &-network
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
      &-links
        min-width: 98px
        margin-top: 21px
    &__title
      flex-basis: 100%
      margin-bottom: 15px
      &--inline
        margin: -12px 0px 0px 0px
      &--mb-3
        margin-bottom: 23px
        margin-top: -11px
      &--mb-1
        margin-bottom: 9px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      flex-basis: 100%
    &__additional
      margin-left: 0
      margin-top: -11px
      grid-column: 1
      grid-row: 4
    &__categories
      margin-top: -10px
      grid-row: 5
      grid-column: 1
    &__legal
      margin-left: 0
      margin-top: -11px
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        max-height: 386px
        margin-top: 31px
        grid-row: 7
        grid-column: 1
    &__icon
      margin-left: 0
      margin-top: 5px
      &-wrapper
        min-width: 30px
    &__input
      &-group
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 15px
        margin-bottom: 14px
        flex-basis: 100%
    &__item
      flex-basis: 100%
      &--mb-2
        margin-bottom: 20px
    &__link
      flex-basis: 100%
    &__message
      flex-basis: 100%
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      margin-bottom: 15px
    &-wrapp
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      padding: 21px 0 21px 0
      &__pay
        grid-column: span 2
        grid-row: 2
        justify-self: start
        margin-top: 2px
    &__ref
      margin-right: 4px
    &__icons-pay
      margin-top: 2px
    &__info
      flex-basis: 100%
      order: 1
      margin-bottom: 15px
    &__button
      order: 2
  .swiper-container
    height: 463px
  .modal
    &__dialog
      width: 90%
@media (max-width: 320px)
  .container
    max-width: 280px
  .hotel
    &-info
      padding-bottom: 20px
    &__slider
      margin-bottom: 20px
  .reviews
    &-slider
      &__button
        top: 31px
        &--prev
          left: 61%
          margin-left: -123px
          transform: translate(-50%, 0)
        &--next
          right: 61%
          margin-right: -120px
          transform: translate(50%, 0)
